[submodule "chibios"]
	path = lib/chibios
	url = https://github.com/qmk/chibios.git
[submodule "chibios-contrib"]
	path = lib/chibios-contrib
	url = https://github.com/qmk/chibios-contrib.git
[submodule "ugfk"]
	path = ugfx
	url = https://github.com/qmk/ugfx.git
[submodule "ugfx"]
	path = lib/ugfx
	url = https://github.com/qmk/ugfx.git
[submodule "lufa"]
	path = lib/lufa
	url = https://github.com/qmk/lufa.git
